html {
  scroll-behavior: smooth;
}

nav {
  background-color:rgb(122, 185, 157);
}
.nav-link {
  color: #000;
}
.nav-link:hover { 
  color: rgb(228, 226, 226) !important; 
}
.top-margin {
  margin-top: 2vh;
}
section {
  padding-top: 10%;
  margin-top: 10;
  height: 100vh;
}
#projects{
  min-height: 75vh;
  height: fit-content;
  justify-content: center;
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

#contact {
  height: auto;
}

.bg-light-gray {
  background-color: rgb(247, 245, 245);
}

.btn-secondary{
  animation: glowing 5000ms infinite;
}


@keyframes glowing {
  0% {
    background-color: #4a5049;
    box-shadow: 0 0 5px #d5dfd1;
  }
  50% {
    background-color: #b9c7b4;
    box-shadow: 0 0 20px rgb(122, 185, 157);
  }
  100% {
    background-color: #4a5049;
    box-shadow: 0 0 5px #d5dfd1;
  }
}

#proj {
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 90px;
  height: 90px;
  border-radius: 20px;
}
#proj:hover {
  box-shadow: 0 0 10px #54943b;
  /* border-radius: 7px; */
}

ul{
  list-style-type: none;
}
ul h5{
  text-align: center;
  color: #214608;
}
ul li ul{
  list-style-type: circle;
}

.resume li ul{
  padding-left: 10px;
}

.box {
  
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  
}

.box-child {
  padding: 1vw;
  width: 250px;
  text-align: center;
}


/* ###################################################### */
#earth {
  /* [1] */
  
 position: static;
  /* dimensions and spacing */
  width: 20px;
  height: 20px;
  margin-left:50%;
  margin-top: 0;
  
  /* [3]animation effects */
  transition: transform 1000ms linear;
  animation: rotate 10s linear infinite; /* This is going to be defined in the next step */

  /* [4]appearance */
  color: #000;
  border-radius: 50%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Blue_Marble_2002.png/1920px-Blue_Marble_2002.png");
  background-size: 60px;
  background-repeat: repeat / x;
  box-shadow: inset .75px 0 .5px 1px rgba(0, 0, 0, 1);

  /* [5]3d space */
  transform-style: preserve-3d;
}
#earth:after {
  /* [1]overlay */
  position: absolute;
  top: 0;
  left: 0;

  /* [2]space  */
  width: 100%;
  height: 100%;

  /* [3]content */
  content: '';

  /* [4] shadow */
  border-radius: 510%;
  box-shadow: 1px 1px 3px 2px rgba(0,0,0,.9) inset; 
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 10px 6px -6px black;
       box-shadow: 0 10px 6px -6px black;
}
#earth:before {
  /* [1] overlay */
  position: absolute;
  top: 0;
  left: 0;

  /* [2] space */
  width: 100%;
  height: 100%;

  /* [3] */
  content: '';

  /* [4] shape */
  opacity: .02;
  border-radius: 50%;
  background: radial-gradient(circle at 20px 20px, #fff, #000);
}
@keyframes rotate {
  0% {background-position: 25% 50%;}
  100% {background-position: -125% 50%;}
}