
a,
a:focus,
a:hover {
  color: #fff;
}
.btn-secondary{
  animation: glowing 5000ms infinite;
}

@keyframes glowing {
  0% {
    background-color: #4a5049;
    box-shadow: 0 0 5px #d5dfd1;
  }
  50% {
    background-color: #b9c7b4;
    box-shadow: 0 0 20px #89c776;
  }
  100% {
    background-color: #4a5049;
    box-shadow: 0 0 5px #d5dfd1;
  }
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(28, 26, 26);

}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
}
footer{
  text-align: center;
}
.home {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 75em;
}
ul{
  list-style-type: none;
}
ul h5{
  text-align: center;
  color: #bdf298;
}
ul li ul{
  list-style-type: circle;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
.art{
  margin: auto;
}


td{
  height: 200px;
  padding: 100px;
  border: 6px solid white;
}

#one{
  background-color: #247BA0;
}

#two{
  background-color: #70C1B3;
}

#three{
  background-color: #B2DBBF;
}

#four{
  background-color: #F3FFBD;
}

#five{
  background-color: #FF1654;
}



/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* ###################################################### */
#earth {
  /* [1] */
  
 position: static;
  /* dimensions and spacing */
  width: 20px;
  height: 20px;
  margin-left:50%;
  margin-top: 0;
  
  /* [3]animation effects */
  transition: transform 1000ms linear;
  animation: rotate 10s linear infinite; /* This is going to be defined in the next step */

  /* [4]appearance */
  color: #000;
  border-radius: 50%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Blue_Marble_2002.png/1920px-Blue_Marble_2002.png");
  background-size: 60px;
  background-repeat: repeat / x;
  box-shadow: inset .75px 0 .5px 1px rgba(0, 0, 0, 1);

  /* [5]3d space */
  transform-style: preserve-3d;
}
#earth:after {
  /* [1]overlay */
  position: absolute;
  top: 0;
  left: 0;

  /* [2]space  */
  width: 100%;
  height: 100%;

  /* [3]content */
  content: '';

  /* [4] shadow */
  border-radius: 510%;
  box-shadow: 1px 1px 3px 2px rgba(0,0,0,.9) inset; 
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 10px 6px -6px black;
       box-shadow: 0 10px 6px -6px black;
}
#earth:before {
  /* [1] overlay */
  position: absolute;
  top: 0;
  left: 0;

  /* [2] space */
  width: 100%;
  height: 100%;

  /* [3] */
  content: '';

  /* [4] shape */
  opacity: .02;
  border-radius: 50%;
  background: radial-gradient(circle at 20px 20px, #fff, #000);
}
@keyframes rotate {
  0% {background-position: 25% 50%;}
  100% {background-position: -125% 50%;}
}
